.item-list-textarea {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1;
  width: 100%;
  height: 263px;
}

.filtered {
  color: grey;
  font-weight: bold;
}

.highlighted {
  color: plum;
  font-weight: bold;
}
